*,
::after,
::before {
  box-sizing: border-box;
}
/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap');
html {
  font-size: 100%;
} /*16px*/
.home,
.services,
.products,
.contact-us,
.sign-up,
.marketing,
.consulting {
  /* display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem; */
}
